@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrder.DESCENDING)
{
    <th>
        <a asp-controller="Persons"
           asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="@SortOrder.ASCENDING">@ViewBag.DisplayName</a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrder.ASCENDING)
{
    <th>
        <a asp-controller="Persons"
           asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="@SortOrder.DESCENDING">@ViewBag.DisplayName</a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else
{
    <th>
        <a asp-controller="Persons"
           asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="@SortOrder.DESCENDING">@ViewBag.DisplayName</a>

    </th>
}